.list-group {
    display: inline!important;
}
.card-header p{
  text-align: center;
  line-height: 1%; 
}
.card-body p{
  text-align: center;
  line-height: 1%; 
}
.receipt-table{
    padding: .75rem;
    vertical-align: top;
    width:100%;
}
.receipt-tbody{
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
